@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  background-image: url(./Assets/images/splotch.png);
  background-size: cover;
  opacity: 0.9;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

div.nav {
  justify-content: space-around;
  margin-right: 20px;
  margin-left: 20px;
}

.nav {
  overflow: hidden;
  background: #366b82;
}
.nav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 20px 16px;
  font-size: 14px;
  width: 100px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
a {
  margin-left: 20px;
  margin-right: 20px;
}
.nav a:hover {
  background: orangered;
  color: #366b82;
}
h3 {
  text-align: center;
  letter-spacing: 0.3em;
}

div.card1 {
  display: grid;
  grid-template-columns: 1fr ;
  /* grid-column-gap: 1em; */
  grid-gap: 1em;
  grid-auto-rows: minmax(200px, auto);
  margin-top: 15px;
  padding: 10px;
  align-self:end;

  
  /* margin-left: 20px;
  margin-top: -90px;
  width: 350px;
  height: 140px;
  padding: 15px;
  margin-top: 550px;*/
}

ul,
li {
  list-style: none;
  list-style-type: none;
  color: black; /* bullet color */
}
#text {
  display: block;
}
a {
  color: white;
}
