@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Nav Section of all the pages */
body {
  background-color: #6c757d;
  font-family: "Montserrat", sans-serif;
}

span.navbar-brand {
  letter-spacing: 4px;
}

div.navbar-nav {
  justify-content: space-around;
  margin-right: 50px;
  margin-left: 40px;
  width: 50%;
}

/*needs to be evenly spaced*/
a.nav-link  { 
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

a {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  justify-content: flex-start;
  display: flex;
}

div.container-fluid {
  height: 40px;
}

i {
  /* width: 80;
  height: 80px; */
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 30px;
  /* margin: 10px 20px; */
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}



li {
  list-style: none;
}

img {
  width: 100%;
}

section {
  padding: 3rem 0 2rem;
}


