@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Nav Section of all the pages */
body {
  background-color: #6c757d;
  font-family: "Montserrat", sans-serif;
}

span.navbar-brand {
  letter-spacing: 4px;
}

ul.navbar-nav {
  justify-content: space-around;
  margin-right: 50px;
  margin-left: 20px;
  width: 50%;
}

/*needs to be evenly spaced*/
a.nav-link  { 
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  justify-content: flex-start;
  display: flex;
}

div.d-flex {
  width: 80;
  height: 80px;
  display: flex;
  align-items: flex-start;
  margin: 10px 10px;
  text-decoration: none;
  font-size: 30px;
  /* color:rgb(197, 192, 187); */
  border-radius: 50%;
}

div.d-flex:hover {
  color: red;
}