@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Nav Section of all the pages */
body {
  background-color: #6c757d;
  font-family: "Montserrat", sans-serif;
}

span.navbar-brand {
  letter-spacing: 4px;
}

div.navbar-nav {
  justify-content: space-around;
  margin-right: 50px;
  margin-left: 40px;
  width: 50%;
}

/*needs to be evenly spaced*/
a.nav-link  { 
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

a {
  list-style-type: none;
  padding: 0 0 0 0;
  justify-content: flex-start;
  display: flex;
}

/* This is the social media icon styling */
.centerdiv {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

 
a1 {
  height: 50px;
  width: 50px;
  background-color: #d25313;
  border-radius: 50px;
  text-align: center;
  margin: 10px;
  line-height: 50px;
  box-shadow: 1px 4px 2px 2px #366b82;
}

a1 i {
  transition: all 0.3s;
}

a1:hover i {
  font-size: 25px;
}

div.cart-container {
  margin: 10px;
}

.cart-container .card {
  width: 240px;
  background: #d0d0ced5;
  font-family: "Orbitron", sans-serif;
  padding: 16px;
  position: relative;
  transition: all 300ms ease;
}

.cart-container .card:hover {
  transform: scale(1.03);
}

.cart-container .card a {
  text-decoration: none;
  color: #14213d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-container .card img {
  margin: -16px;
  /* object-fit: cover; */
}

div.description {
  padding: 10px;
  border-left-width: 0;
  font-size: 10px;
}

.cart-container .card .category {
  position: absolute;
  top: 8px;
  left: 8px;
  font-weight: bold;
  letter-spacing: 3px;
}

.cart-container .card .words {
  font-size: 8px;
  font-weight: 300;
}
