@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Nav Section of all the pages */
body {
  background-color: rgb(99, 98, 96);
  font-family: "Montserrat", sans-serif;
}

span.navbar-brand {
  letter-spacing: 4px;
}

ul.navbar-nav {
  justify-content: space-around;
  margin-right: 50px;
  margin-left: 20px;
  width: 50%;
}

.nav-links a {
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

/* contact page */
.my-boxes {
  padding: 150px;
}

.my-boxes .form-group {
  padding-bottom: 20px;
}

.my-boxes label {
  display: block;
  font-size: large;
}

.my-boxes input[type="text"],
.my-boxes textarea {
  padding: 10;
  width: 60%;
}

.my-boxes input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  border: none;
  font-size: medium;
}

/* PORTFOLIO page */


 .div-container {
  height: 100%;
  width: 100%;
}
h3 {
  text-align: center;
  letter-spacing: 4px;
}
.column {
  float: left;
  width: 50%;
}
/* div.card {
  width: 120px;
  height: 90px;
  margin: 90px;
} */

img.card-img {
 width: 100%;
 height: 100%;
}

a {
  color: rgb(202, 126, 11);
}





